
@{
    ViewBag.Title = "Primary Colors";  
}
<h2>Primary Colors</h2>
<form role="form" action="" method="POST">
    <div class="form-group">
        <label for="color1">Select color 1</label>
        <select class="form-control " id="color1" name="color1">
            <option value="" disables selected>(none)</option>
            <option>red</option>
            <option>blue</option>
            <option>green</option>
        </select>

    </div>
    <div class="form-group">
        <label for="color2">Select color 2</label>
        <select class="form-control" id="color2" name="color2" >
            <option value="" disables selected>(none)</option>
            <option>red</option>
            <option>blue</option>
            <option>green</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

    <h3>
        <span style="color: @ViewBag.Color1;">@ViewBag.Color1</span> and
        <span style="color: @ViewBag.Color2;">@ViewBag.Color2</span> make
        <span style="color: @ViewBag.Color3">@ViewBag.Color3</span>
    </h3>

</form>