@using Northwind.Models
@model IEnumerable<Northwind.Models.Product>


@{
                /**/

                ViewBag.Title = "DisplayProducts";
}

<h2>DisplayProducts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form action="@Url.Action("ProcessOrder","Home")" method="post">
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price))
            </th>
            <th>Quantity</th>
            <th class="hidden">Total</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td id="price_@item.Id">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    <input type="number" name="@item.Id" id="@item.Id" class="form-control qty" />
                </td>

                <td class="hidden" id="subtotal_@item.Id">0.00</td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                </td>
            </tr>
        }
        <tfoot class="hidden">
            <tr>
                <th colspan="3">Total</th>
                <th id="total">0.00</th>
            </tr>
        </tfoot>

    </table>

    <button type="submit" class="btn btn-default">Submit Order</button>
</form>

@section scripts {
    <script>
        $(function () {

            $('.hidden').removeClass('hidden');

            $('.qty').each(function () {
                $('#' + this.id).val('0');
            });

            $('.qty').change(function () {
                //html() is a getter
                var qty = $('#' + this.id).val();
                //alert(qty);
                var price = $('#price_' + this.id).html();
                //html(value) is a setter
                //var subtotal =
                $('#subtotal_' + this.id).html((qty * price).toFixed(2));

                //TO CHANGE TOTAL
                //1. iterate over all subtotals
                //2. add, and
                //3. display in the #total field
                //#total.html(4999.97)
                var total = 0;

                $('.qty').each(function () {
                    total += Number($('#subtotal_' + this.id).html());
                });

                $('#total').html(total.toFixed(2));
            });





        });
    </script>
}